page-cart {
    h2.heading {
        font-size: 1.6rem;
        padding: 18px 25px;
        margin: 0;
    }

    .list {
        .item {
            padding: 5px 6px 5px 13px;
            margin-bottom: 5px;
            align-items: flex-start;

            ion-thumbnail {
                position: relative;
                overflow: hidden;
                display: block;
                min-width: unset;
                min-height: unset;
                width: 63px;
                min-width: 63px;
                height: 63px;
                border-radius: 3px;
                margin-right: 12px;
                margin: 9px 17px 0px 0px !important;

                img {
                    position: absolute;
                    top: -20% !important;
                    left: -50% !important;
                    right: -50% !important;
                    bottom: 0% !important;
                    margin: auto !important;
                    height: 95px !important;
                    width: 95px;
                    max-width: unset !important;
                }
            }

            .item-inner {
                padding: 0;
                margin-top: 15px;

                .label {
                    margin: 0;
                }
            }

            p {
                white-space: normal;
                color: $gray;
                font-size: 1.28rem;
                font-weight: 300;
                width: 100%;
                max-width: 185px;
                margin-top: 8px;
            }

            h3 {
                margin: 0 !important;
                margin-top: 0;
                margin-bottom: 3px;
                font-size: 1.5rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-bottom: 4px !important;


                ion-icon {
                    font-size: 1.8rem;
                    position: relative;
                    margin-top: 6px;
                    width: 24px;
                    text-align: center;
                }
            }

            .add-remove {
                display: flex;
                align-items: center;
                background: lighten($gray, 30%);
                border-radius: 50px;
                width: 70px;

                ion-icon {
                    width: 20px;
                    line-height: 20px;
                    border-radius: 50%;
                    text-align: center;
                    color: $white;
                    font-size: 1.3rem;
                    background: $theme-color;
                }

                h2 {
                    margin: 0;
                    width: 46%;
                    font-size: 1.5rem;
                }
            }

            .label {
                .row {
                    align-items: center;
                    margin: 0 -5px;

                    p.text-light {
                        margin: 0;
                        color: darken($gray, 10%) !important;

                        span {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .fixd-bottom {
        background: $white;

        .ditails {
            padding: 14px 20px 5px 20px;

            h2 {
                display: flex;
                align-items: center;
                align-items: center;
                margin: 0;
                padding-bottom: 14px;
                font-weight: 400;
                font-size: 1.6rem;

                span {
                    margin-left: auto;
                }

                &.sub-total {
                    font-weight: 500;
                    font-size: 1.7rem;
                }
            }

            p {
                padding-bottom: 20px;
            }
        }

        .button-center {
            text-align: center;
        }

        button {
            background-color: black !important;

            .f3 {
                font-weight: 300 !important;
            }

            &.btn {
                height: 6rem;
            }

            font-size: 1.55rem !important;
            margin-bottom: 0;
            border-radius: 0 !important;

            span {
                &.checkout_text {
                    margin: 0 17px;
                }
            }

            .cart {
                position: relative;
                margin-right: 20px;

                ion-icon {
                    font-size: 3rem;
                }

                ion-badge {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 1rem;
                    font-weight: 300;
                    padding: 0;
                    border-radius: 50%;
                    top: -7px;
                    right: -16px;
                    text-align: center;
                    color: black;
                    background: $theme-color_green;
                }
            }

            .amount {
                margin-left: auto;

                ion-icon {
                    width: 15px;
                }
            }
        }
    }

    .footer {
        .toolbar {
            padding: 0 !important;

            .toolbar-background {
                background: $theme-color !important;
            }
        }
    }

    .empty-view {
        width: 200px;
        margin: auto;
        height: 200px;
        top: 10%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;

        img {
            width: 100px;
            margin: auto;
        }

        span {
            display: block;
            text-align: center;
        }

        button {
            margin-top: 50px;

            span {
                display: unset !important;
            }
        }
    }
}
