
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{"shipping_details" | translate}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="bg-light">
    <ion-row class="order-steps">
        <ion-col col-4 text-center class="done">
            <h2>{{"shipping" | translate}}</h2>
            <ion-icon class="" name="md-basket"></ion-icon>
        </ion-col>
        <ion-col col-4 text-center>
            <h2>{{"payments" | translate}}</h2>
            <ion-icon name="md-card"></ion-icon>
        </ion-col>
        <ion-col col-4 text-center>
            <h2>{{"confirm" | translate}}</h2>
            <ion-icon name="md-checkbox"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-card class="address">
        <ion-card-content *ngIf="config.enableChooseDelivery">
            <ion-list radio-group [(ngModel)]="order_time" required>
                <ion-card-header>
                    <strong class="text-dark">{{"order_time" | translate}}</strong>
                </ion-card-header>
                <ion-item>
                    <ion-radio item-start value="ASAP"></ion-radio>
                    <ion-label>
                        <strong class="">{{"asap" | translate}}</strong>
                        <p>
                            {{"asap_description" | translate}}
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-radio item-start value="LATER"></ion-radio>
                    <ion-label>
                        <strong class="">{{"later" | translate}}</strong>
                        <ion-datetime placeholder="{{'later_description' | translate}}" displayFormat="DD MMM, HH:mm"
                            [(ngModel)]="dateTime">
                        </ion-datetime>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
        <ion-card-content>
            <ion-list radio-group [(ngModel)]="address_id" name="case" required>
                <ion-card-header>
                    <strong class="text-dark">{{"ur_saved_address" | translate}}</strong>
                </ion-card-header>
                <ion-item *ngFor="let address of addresses">
                    <ion-radio item-start value="{{address.id}}"></ion-radio>
                    <ion-label>
                        <strong class="">{{address.title}}</strong>
                        <p>
                            {{address.address}}
                        </p>
                    </ion-label>
                </ion-item>
                <p text-center class="text-orange" (click)="addAddress()">
                    <ion-icon name="md-add-circle" class="text-orange" style="margin-right: 1rem;"></ion-icon>
                    <strong>{{"add_nw_address" | translate}}</strong>
                </p>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer no-border>
    <div class="from">
        <ion-list no-lines>
            <h2>{{"special_intentions" | translate}} <sup> ({{"optional" | translate}})</sup></h2>
            <ion-item>
                <ion-textarea type="text" placeholder="{{'write_your_special_intentions' | translate}}"
                    [(ngModel)]="special_instructions"></ion-textarea>
            </ion-item>
        </ion-list>
    </div>
    <button ion-button no-margin icon-end class="btn btn-orange" full
        (click)="paymentdetail()">{{"prodeed_pmt" | translate}}
        <ion-icon name="ios-arrow-forward-outline" padding-left></ion-icon>
    </button>
</ion-footer>