<ion-header class="home-menu">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" class="text-black"></ion-icon>
    </button>
    <ion-title>
      <span class="city" (click)="checkForLocation()">
        <ion-label *ngIf="selectedLocation" class="text-black fw-3 home-lable">{{selectedLocation.name}}</ion-label>
        <ion-label *ngIf="!selectedLocation" class="text-black fw-3 home-lable">{{"select_location" | translate}}
        </ion-label>
      </span>
      <span class="cart" [navPush]="cartPage">
        <ion-badge *ngIf="cartItems && cartItems.length" class="bg-orange">{{cartItems.length}}</ion-badge>
        <ion-icon name="md-cart" class="text-black"></ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
  <div class="search">
    <ion-searchbar [(ngModel)]="searchText" (ionInput)="getItems($event)" debounce="1000"
      placeholder="{{'search_box' | translate}}">
    </ion-searchbar>
    <ion-icon name="ios-options" class="text-light filter" (click)="refine()"></ion-icon>
  </div>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <h5 *ngIf="!selectedLocation" padding-left padding-right class="">{{"select_location_text" | translate}}</h5>
  <ion-card class="order-scroll">
    <h2 padding>
      {{"order_text" | translate}}
      <span *ngIf="categoryId != -1 || (searchText && searchText.length)" class="text-orange"
        (click)="getStoreByCategory(-1)">
        {{"view_all" | translate}}
      </span>
    </h2>
    <div *ngIf="categories" class="order-container">
      <ion-scroll scrollX="true" style="height: 177px; white-space: nowrap;">
        <div *ngFor="let cat of categories" class="order-item" (click)="getStoreByCategory(cat.id)">
          <div class="img-box">
            <img data-src="{{cat.image_url}}">
          </div>
          <h4>{{cat.title}}</h4>
          <p>{{cat.stores_count}} DeliBee Chefs</p>
        </div>
      </ion-scroll>
    </div>
  </ion-card>
  <div class="empty-view" *ngIf="selectedLocation && !isLoading && (!stores || !stores.length)">
    <div style="text-align:center">
      <img src="assets/imgs/ic_placeholder.png" alt="no offers" />
      <span style="color:#9E9E9E; font-weight:bold;">{{'empty_stores' | translate}}</span>
    </div>
  </div>
  <h5 *ngIf="stores && stores.length" padding-left padding-right class="">{{"restaurants_near" | translate}}</h5>
  <ion-list *ngIf="stores && stores.length" no-lines>
    <ion-item *ngFor="let store of stores;let i=index" no-padding (click)="storeDetail(store)">
      <div class="near-rest">
        <ion-card>
          <div class="img">
            <ion-badge *ngIf="store.ratings > 0" class="bg-green fw-3 text-black">{{store.ratings}}
              <ion-icon name="md-star"></ion-icon>
            </ion-badge>
            <div class="img-box"><img data-src="{{store.image_url}}"></div>
          </div>
          <ion-card-content>
            <ion-card-title class="text-white fw-5">
              <span>{{store.name}}</span>
              <ion-icon *ngIf="user" name="md-heart" [ngClass]="store.favourite==1 ? 'favourite' : 'text-white'"
                (click)="toggleFavorite(i)"></ion-icon>
            </ion-card-title>
            <p class="fw-3">{{store.area}}</p>
          </ion-card-content>
          <!-- <ion-row>
            <ion-col col-4>
              <h5 class="text-light">{{"avg_dlvr_time" | translate}}</h5>
              <h6 class="text-dark">{{store.delivery_time}}</h6>
            </ion-col>
            <ion-col col-4>
              <h5 class="text-light">{{"min_order" | translate}}</h5>
              <h6 class="text-dark">{{currency}} {{store.minimum_order}}</h6>
            </ion-col>
            <ion-col col-4>
              <h5 class="text-light">{{"dlvr_fee" | translate}}</h5>
              <h6 class="text-dark">{{currency}} {{store.delivery_fee}}</h6>
            </ion-col>
          </ion-row> -->
        </ion-card>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>