page-profile {
    .logo {
        position: relative;
        height: 195px;
        position: relative;
        height: 195px;
        overflow: hidden;
        //border-radius: 5px;

        .store-image {
            width: 100%;
            position: absolute;
            top: 0;
            left: -50% !important;
            right: -50% !important;
            bottom: 0;
            width: 100% !important;
            height: 100%;
            margin: auto !important;

            &.icon {
                width: 100px !important;
                height: auto !important;
                top: -40px;
            }

        }

        .text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 127px;
            width: 200px;
            margin: auto;
            display: block;

            ion-icon {
                width: 85px;
                height: 85px;
                margin: 0 auto;
                background: $white;
                border-radius: 50%;
                line-height: 85px;
                font-size: 3.6rem;
                color: $bg-light;
            }

            h2 {
                font-size: 1.8rem;
                margin: 0;
                font-weight: 400;
                margin-top: 16px;
                color: lighten($gray, 10%);
            }
        }
    }

    .form {
        max-width: 100%;
        overflow: hidden;
        display: block;

        .list {
            padding: 20px 30px 23px 30px;
            background: $white;
            margin-bottom: 7px;
            overflow: hidden;
            display: block;

            h2 {
                margin: 0;
                font-size: 1.75rem;
                letter-spacing: .5px;
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                color: $theme-color_green;

                span {
                    &.ml-auto {
                        margin-left: auto;

                        .toggle {
                            padding: 5px;

                            .toggle-icon {
                                width: 34px;
                                height: 13px;
                                max-width: 34px;
                                background: darken($bg-light, 20%);
                            }

                            .toggle-inner {
                                width: 17px;
                                height: 17px;
                                top: -2.5px;
                                left: 0px !important;
                                background: darken($bg-light, 20%);
                            }

                            &.toggle-checked {
                                .toggle-icon {
                                    background: darken($bg-light, 10%);
                                }

                                .toggle-inner {
                                    background: $theme-color_green;
                                }
                            }
                        }
                    }
                }
            }

            h3 {
                margin: 0;
                font-size: 1.75rem;
                letter-spacing: .5px;
                padding-bottom: 15px;
                display: flex;
                align-items: center;
                color: $theme-color;
            }

            .item {
                display: block;
                overflow: hidden;
                width: calc(100% - 20px);
                margin: 0 auto;
                margin-bottom: 5px;

                &.item-label-floating {
                    .text-input-md {
                        margin-top: 0;
                    }
                }

                .label {
                    font-weight: 400 !important;
                    font-size: 1.8rem !important;
                    color: darken($gray, 10%) !important;
                    letter-spacing: .3px !important;
                    margin-bottom: 5px;
                }

                &.item-input {
                    width: calc(100% - 40px);
                }

                &.item-textarea {
                    width: calc(100% - 20px);
                }
            }

            &.toggle-box {
                h2 {
                    padding-bottom: 0;
                }
            }

            &.address {

                .item {
                    align-items: center;
                    border-bottom: none !important;

                    textarea {
                        margin: 0;
                        color: darken($gray, 10%) !important;
                        font-size: 1.5rem;
                        line-height: 23px;
                        height: 68px;
                    }

                    p {
                        margin: 0;
                        color: darken($gray, 10%) !important;
                        font-size: 1.5rem;
                        line-height: 23px;
                        height: 68px;
                    }

                    ion-icon {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 50%;
                        font-size: 2.3rem;
                        margin: 0 !important;

                        &.bg-orange {
                            background: $theme-color !important;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .footer {
        .button.btn {
            margin: 0;
            height: 55px;
            font-size: 1.7rem;
        }
    }
}
