page-support {
    ion-header {
        background: $theme-color_green;

        .logo {
            img {
                width: 140px;
                margin: 0;
            }
        }
    }

    .ditails-box {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 125px;
            display: block;
            background: $theme-color_green;
            z-index: -1;
        }

        .list {
            margin-bottom: 0;

            .row {
                margin: 0 4px;
            }
        }

        .item {
            background: transparent;
            padding-left: 0px;

            .item-inner {
                box-shadow: none !important;
            }

            ion-avatar {
                margin-right: 0 !important;
                min-width: 27px;

                ion-icon {
                    color: $white;
                    font-size: 2rem !important;
                }
            }

            h2 {
                font-size: 1.3rem;
                font-weight: 300;
                color: $white;
            }

            p {
                font-size: 1.4rem;
                color: $white;
                font-weight: 300;
            }

            .item-inner {
                //                border-bottom: none !important;
                padding-right: 0 !important;

                ion-label {
                    margin-right: 0 !important;
                }
            }
        }

        .contact {
            &.card {
                width: 100%;
                margin: 0;
                max-width: 86%;
                margin: 0 auto;
                border-radius: 0;
                box-shadow: none;
                padding: 5px 41px 14px 40px;

                .form {
                    max-width: 100%;

                    .list {
                        padding-bottom: 55px;

                        .item {
                            .label {
                                font-weight: 500 !important;
                                font-size: 1.4rem;
                            }

                            .text-input {
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }

        .button {
            &.btn {
                height: 5rem;
                box-shadow: none;
            }
        }
    }
}
