page-onlinemenu {
    .header {
        .toolbar {
            position: absolute;
            z-index: 1;
        }
        .bar-button .button-inner ion-icon {
            color: #fff !important;
        }
        .banner {
            background: #fff;
            z-index: -1;
        }
        .text {
            color: white;
        }
        ion-badge {
            border-radius: 50%;
            font-size: .9rem !important;
            font-weight: 400;
            height: 16px;
            width: 16px;
            text-align: center;
            padding: 0;
            line-height: 16px;
            position: absolute;
            margin-top: -.9rem;
            right: -8px;
            color: white;
        }
    }

    .img-box {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 212px;

        img {
            position: absolute;
            top: -20% !important;
            left: -50% !important;
            right: -50% !important;
            bottom: 0% !important;
            margin: auto !important;
            width: 100%;
            height: 254px;
            max-width: unset !important;
        }
    }

    .card {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 19px;
        margin-bottom: 5px;
        box-shadow: none;

        .card-header {
            padding: 0;
            padding-bottom: 16px;
            font-size: 16px;
            display: flex;
            align-items: center;

            span {
                margin-left: auto;
            }
        }

        p {
            color: #ffd11a !important;
            font-weight: bold; 
            // font-weight: 300;
            font-size: 1.44rem;
            line-height: 20px;
        }

        &.instruction {
            //padding: 10px;

            .card-header {
                font-weight: 500;
            }

            .item {
                padding-left: 0;

                .label {
                    margin: 0;
                }

                textarea {
                    width: 100%;
                    border: none;
                    // border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                    font-size: 1.44rem;
                    font-weight: 300;
                    color: #000;
                    height: 70px;
                }
            }
        }
    }

    .fixd-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;

        .row {
            align-items: center;
        }

        .add-remove {
            display: flex;
            align-items: center;
            background: #f0f0f0;
            border-radius: 50px;

            ion-icon {
                width: 40px;
                line-height: 40px;
                border-radius: 50%;
                text-align: center;
                color: #fff;
                font-size: 1.5rem;
            }

            h2 {
                margin: 0;
                width: 37%;
            }
        }

        .button {
            &.btn {
                height: 4.5rem;
                margin: 0;
                font-size: 1.7rem;
                font-weight: 300;
            }
        }
    }

    .list {
        &.option {
            margin-bottom: 0;
            margin-bottom: 5px;

            .item {
                padding: 0;

                [item-start] {
                    margin: 0;
                    margin-right: 30px;

                    &.checkbox {
                        .checkbox-icon {
                            border-color: #8a8a8a;

                            &.checkbox-checked {
                                border-color: $theme-color;
                                background: $theme-color;
                            }
                        }
                    }

                    &.radio {
                        .radio-icon {
                            border-color: #8a8a8a;

                            &.radio-checked {
                                border-color: $theme-color;

                                .radio-inner {
                                    background: $theme-color;
                                }
                            }
                        }
                        &.radio-ios{
                            .radio-icon {
                                .radio-inner{
                                    border-color: $theme-color;
                                    background: none;
                                }
                            }
                        }
                    }
                }

                .item-inner {
                    padding: 0;

                    .label {
                        color: #8a8a8a !important;
                        font-weight: 400;
                        font-size: 1.5rem;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        width: 100%;

                        span {
                            margin-right: 0;
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }


    .footer {
        padding: 7px;

        .toolbar-background {
            background: none !important;
        }
    }
}
